[test]
# Coverage
coverage = true
coverageThreshold = { lines = 0.48, functions = 0.44 }
coverageReporter = ["text", "lcov"]
coverageDir = "coverage"
coverageSkipTestFiles = true
coveragePathIgnorePatterns = [
  "src/cli.ts",
  "src/version.ts"
]

# Execution
timeout = 10000
